<h2>my<strong><i>kit</i></strong></h2>
<% if user_signed_in? %>
  <%= link_to current_user.email %>
  <%= render 'users/inventory' %>
  <%= link_to 'new kit', new_bag_path %></i> | <i><%= link_to 'kit exchange', bags_path %>
<% else %>
  welcome! would you like to...
  <ul class="hmenu">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
  </ul>
  <h3>newest kits</h3>
  show newest kits
<% end %>

<!-- <ul class="hmenu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
</ul> -->
