<!-- kit show -->
<h2>
  <a href="<%= @bag.link %>"><%= @bag.adv %></a><strong> <i>kit</i></strong>
</h2>
<i>
<%= @bag.description %>git
</i>


<div class="kit-inventory">
  <h3>inventory</h3>
  <h4>essential tools ☆ </h4>
  <ul class="kit-essential-tools">
    <li>tobereplaced</li>
    <li>tool 1</li>
    <li>tool 2</li>
    <li>tool 3</li>
  </ul>
  <!-- Create option for grouping/tagging later. -->
  <h4>general tools</h4>
  <ul class="kit-general-tools">
    <li>tobereplaced</li>
    <li>tool 4</li>
    <li>tool 5</li>
  </ul>
</div>


<table>
  <tr>
    <th>created</th>
    <th>updated</th>
  </tr> 
  <td><%= @bag.created_at %></td> 
  <td><%= @bag.updated_at %></td> 
</table>
<p></p>
<div class="nav-btm">
  <p>
    <i>
      <%= link_to 'kit exchange', bags_path %> 
    </i> 
    |
    <i>
      <%= link_to 'mykit', welcome_index_path %>  
    </i>
    
  </p>
</div>

